/* You can add global styles to this file, and also import other style files */

*,
*::after,
*::before {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Calibri', sans-serif;
}